
.popup {
    display: none;  
  }
  .popup-back {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba( 0, 0, 0, 0.5 );
    backdrop-filter: blur(1.5rem);
  
  }
  .popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background:  #27a480;
    height: 25%;
    width: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 1rem;
    height: fit-content;
    width: fit-content;
    padding: 1rem 1rem 0 1rem;
    
  }
  
  #popup-close, #spoiler{
    background-color: #27a480;
    color: white;
    padding: 1rem; 
    margin-bottom: 1rem;   
    border-radius: 10px;
    text-decoration: none;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  